html, body, #root{
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 239, 186);
}

h1{
    color: black;
    font-weight: bolder;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.container{
    display: grid;
    grid-template-areas: 
    "b b b"
    "b b b"
    "b b b"
    ;
    border: 5px solid rgb(237, 66, 81);
    border-radius: 3px;
    box-shadow: 4px 4px;
}
.box{
    width: 10rem;
    height: 10rem;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(37, 34, 34, 0.915);
}
.box:hover{
    border: 4px solid rgb(48, 98, 225);
    border-radius: 3px;
}

#result{
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}